@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    font-family: 'Roboto Condensed',sans-serif;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.header{
    font-size: 50pt;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    filter: drop-shadow(0px 0px 45px #090909);
    color: #4b5a66;
}
input{
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    box-shadow: 
        10px 10px 30px #e8e8e8,
        -10px 10px 30px #e5e5e5,
        -10px -10px 30px #e0e0e0;
    
}
input:focus{outline: none;}

a{
    text-decoration: none;
    color: #4b5a66;
    margin: 5px;
    width: 150px;
    text-align: center;
    padding: 5px;
}
.start{
    background-color: #4b5a66;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 
        10px 10px 30px #e5e5e5,
        -10px 10px 30px #e3e3e3,
        -10px -10px 30px #d0d0d0;
}
.credits{
    font-weight: 100;
    border: 1px solid #4b5a66;
    background-color: #fff;
    border-radius: 5px;
    transition: all 1s ease-in;
    animation-fill-mode: both;

}
.credits:hover{
    animation: credits 1s ease-in;

}

@keyframes credits {
    from{
        background-color: #fff;
        color: #4b5a66;
    }to{
        background-color: #4b5a66;
        color: #fff;
    }
}