@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    font-family: 'Roboto Condensed',sans-serif;
}
.body{
    background-color: #F5F0EC;
}
.credits{
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;
}
.intro{
    clip-path: ellipse(300% 100% at 200% 0%);
    background-color: #DF6232;
    height: 80vh;
    width: 100vw;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F5F0EC;
    box-shadow: 0px 100% 20px #000;
}
.title{
    margin-bottom: 20px;
    font-size: 64px;
    text-align: center;

}
.desc{
    font-size: 28px;
    font-weight: lighter;
}
.generator{
    margin-top: 50px;
    height: 100vh;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}
.result{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.settings{
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg, .x, .y,.spread,.color,.text{
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    height: 50px;
}
.box{
    border-radius: 15px;
    width: 250px;
    height: 250px;
}
.text{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    background-color: #DF6232;
    border-radius: 15px;
    box-sizing: border-box;
    height: 200px;
    margin-left: 20px;
    box-shadow: 0px 5px 20px #000;
    color: #fff;
}
.text label{
    font-size: 32px;
}
#text{
    font-size: 24px;
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}